Run python -m pip install pymysql from your terminal to install pymysql.

Create a notebook or python script named advanced_dataframes to do your work in for these exercises.

Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)
cd into your exercises folder for this module and run echo env.py >> .gitignore
Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

Use your function to obtain a connection to the employees database.

Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?
access denied

b. Intentionally make an error in your SQL query. What does the error message look like?
shows a SQL syntax error
Read the employees and titles tables into two separate DataFrames.

How many rows and columns do you have in each DataFrame? Is that what you expected?
6 columns, 5 rows
Display the summary statistics for each DataFrame.

How many unique titles are in the titles DataFrame?

What is the oldest date in the to_date column?

What is the most recent date in the to_date column?

In [15]:
def get_db_url(username, password, hostname, database_name):
    url = f'mysql+pymysql://{env.username}:{env.password}@{env.hostname}/{env.database_name}'
    return url

In [1]:
import env

In [17]:
from env import host

url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'

In [12]:
import pandas as pd

In [13]:
import numpy as np

In [42]:
from sqlalchemy import text, create_engine

engine = create_engine(url)

query = text('SELECT * FROM employees')

sql1 = pd.read_sql(query, engine.connect())

In [57]:
sql2 = pd.read_sql("""SELECT *
FROM titles
	JOIN employees
		USING(emp_no)""", url)

In [38]:
sql1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

How many unique titles are in the titles DataFrame

In [55]:
sql2

                title
0     Senior Engineer
1               Staff
2            Engineer
3        Senior Staff
4  Assistant Engineer
5    Technique Leader
6             Manager

In [63]:
oldest_to_date = sql2['to_date'].min()
oldest_to_date

datetime.date(1985, 3, 1)

In [68]:
newest_to_date = sql2['to_date'].max()
newest_to_date

datetime.date(9999, 1, 1)